@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cta {
  position: relative;
  z-index: 1;
}

.cta::before {
  height: 100%;
  width: 0%;
  content: "";
  background-color: #1A3636;
  transition: width 0.8s ease;
  top: 0;
  left: 0;
  z-index: 2;
  position: absolute;
}

.cta:hover::before {
  width: 100%;
}

.cta span {
  position: relative;
  z-index: 3;
}

input {
  border: 1px solid black;
}